:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #a9a9a9;
  --green: #c6d89d;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/*  */
/*  */
body {
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(
    -45deg,
    #000000,
    #000000 50%,
    #101010 50%,
    #101010
  );
  background-size: 18px 18px;
}

.text-bold {
  font-weight: bold;
}
/*  */
/*  */
/*  */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    .main-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      img {
        width: 200px;
        border: 2px solid var(--white);
        border-radius: 8%;
      }

      h1 {
        color: var(--white);
        font-size: 50px;
      }
    }
    .main-user,
    .main-worker {
      width: 100%;
      button {
        width: 100%;
        padding: 11px 20px;
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: 9px;
        font-size: 20px;
        color: var(--white);
        transition: 0.5s;

        &:hover {
          background-color: var(--green);
          color: var(--black);
          cursor: pointer;
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.consumer {
  /* display: flex; */
  justify-content: center;
  display: none;

  .consumer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

    .consumer-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 400px;
      border: 1px solid var(--green);
      border-radius: 15px;
      color: var(--white);
      padding: 20px;

      .batch-status {
        border-bottom: 1px solid var(--green);
        padding-bottom: 10px;
        text-align: center;
      }

      .block-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .consumer-chain {
      height: 50px;
      border-right: 3px solid var(--green);
    }
  }
}
/*  */
/*  */
/*  */
.worker {
  /* display: flex; */
  justify-content: center;
  display: none;

  .worker-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;

    .worker-address {
      color: var(--white);
      font-size: 20px;
      text-align: center;
    }

    .worker-role-register {
      display: flex;
      gap: 30px;

      button {
        width: 200px;
        padding: 11px 20px;
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: 9px;
        font-size: 18px;
        color: var(--white);
        transition: 0.5s;

        &:hover {
          background-color: var(--green);
          color: var(--black);
          cursor: pointer;
        }
      }
    }

    .worker-role {
      color: var(--white);
      font-size: 18px;
      text-align: center;
    }
  }
}
